<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="registration page">
	<title>Signup</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<link rel="icon" type="image/x-icon" href="/img/icon_weather.ico">
	<script type="application/ld+json">
		{
			"@content": "https://schema.org",
			"@type": "WebPage",
			"name": "Forecast WebPage Project",
			"url": "https://weather.com",
			"description": "WebPage for forecast",
			"dateCreated": "2022-04-22",
			"inLanguage": "EN",
			"keywords": "weather, forecast, today, tomorrow, next week, temperature",
			"author":{
				"@type":"Person",
				"email": "elena.catanzaro@studenti.unimi.it",
				"jobTitle": "Student",
				"name": "Elena Catanzaro"
			}
		}
	</script>
</head>
<body class="light-theme" onload="responsive_menu()">
	<header>
		<nav class="navbar-theme fixed-top">
		  
			<a href="/w" class="nav-branding">Weather</a>
			<ul class="nav-menu">
				<li class="nav-item">
					<a href="/w" class="navigation-link">Home</a>
				</li>
				<li class="nav-item">
					<a href="/w/login" class="navigation-link">Login</a>
				</li>
				<li class="nav-item">
					<a href="/w/register" class="navigation-link">Sign up</a>
				</li>
				<li>
					<button class="btn toggle-icon" onclick="darkmode()" aria-label="menu button">
					<svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-mask" viewBox="0 0 16 16">
			  			<path d="M6.225 1.227A7.5 7.5 0 0 1 10.5 8a7.5 7.5 0 0 1-4.275 6.773 7 7 0 1 0 0-13.546zM4.187.966a8 8 0 1 1 7.627 14.069A8 8 0 0 1 4.186.964z"/>
					</svg>
					</button>
				</li>
			</ul>
			<div class="hamburger">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
			</div>
		</nav>
	</header>
	<main class="main-theme log-top">
		<div id="signup-container">
			<form id="log-form" method="POST" action="/w/register">
				<h2 class="text-center">Register</h2>
				<%= typeof error != 'undefined' ? error : '' %>
				<div class="d-flex flex-column gap">
				    <div class="">
				    	<div class="mb-3">
					      <label for="floatingInput">Email address</label>
					      <input type="email" name="email" class="form-control" id="email" placeholder="name@example.com" value="<%= typeof email != 'undefined' ? email : '' %>">
					    </div>
						 <div class="mb-3">
					      <label for="floatingPassword">Password</label>					      
					      <input type="password" name="password" class="form-control" id="password" placeholder="Password" value="<%= typeof password != 'undefined' ? password : '' %>">
					    </div>
					    <div class="mb-3" id="last">
					      <label for="floatingPassword">Confirm assword</label>					      
					      <input type="password" name="password2" class="form-control" id="password2" placeholder="Password" value="<%= typeof password2 != 'undefined' ? password2 : '' %>">
					    </div>
				    </div>
					
				</div>
				<div class="text-center">
					<button type="submit" class="btn btn-primary second-button-theme">Submit</button>	
				</div>
				<div class="text-center" id="or-signup">
					<a href="/w/login">Or signin</a>
				</div>
			</form>		
		</div>
		
	</main>

	<footer class="d-flex flex-wrap justify-content-between align-items-center px-5 py-5 footer-theme">
	    	<p class="col-md-4 mb-0 text-muted">Weather&copy; 2022 Company, Inc</p>
	    	<ul class="nav col-md-4 justify-content-end">
		      <li class="nav-item"><a href="/w" class="nav-link px-2 text-muted">Home</a></li>
		      <li class="nav-item"><a href="/w/login" class="nav-link px-2 text-muted">Login</a></li>
		      <li class="nav-item"><a href="/w/register" class="nav-link px-2 text-muted">Sign up</a></li>
	    	</ul>
  	</footer>
  	<script async src="../../js/bootstrap.bundle.min.js"></script>
	<script src="../../js/js/utils.js"></script>
</body>
</html>