<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Day per day we provide weather forecast">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<title>Meteo</title>
	<link rel="icon" type="image/x-icon" href="/img/icon_weather.ico">
	<script type="application/ld+json">
		{
			"@content": "https://schema.org",
			"@type": "WebPage",
			"name": "Forecast WebPage Project",
			"url": "https://weather.com",
			"description": "WebPage for forecast",
			"dateCreated": "2022-04-22",
			"inLanguage": "EN",
			"keywords": "weather, forecast, today, tomorrow, next week, temperature",
			"author":{
				"@type":"Person",
				"email": "elena.catanzaro@studenti.unimi.it",
				"jobTitle": "Student",
				"name": "Elena Catanzaro"
			}
		}
	</script>
</head>
<body class="light-theme" onload="responsive_menu()">
	<header>
		<nav class="navbar-theme fixed-top">
		  
			<a href="/w" class="nav-branding">Weather</a>
			<ul class="nav-menu">
				<li class="nav-item">
					<a href="/w" class="navigation-link">Home</a>
				</li>
				<li class="nav-item">
					<a href="/w/login" class="navigation-link">Login</a>
				</li>
				<li class="nav-item">
					<a href="/w/register" class="navigation-link">Sign up</a>
				</li>
				<li>
					<button class="btn toggle-icon" onclick="darkmode()" aria-label="menu button">
					<svg xmlns="http://www.w3.org/2000/svg"  fill="currentColor" class="bi bi-mask" viewBox="0 0 16 16">
			  			<path d="M6.225 1.227A7.5 7.5 0 0 1 10.5 8a7.5 7.5 0 0 1-4.275 6.773 7 7 0 1 0 0-13.546zM4.187.966a8 8 0 1 1 7.627 14.069A8 8 0 0 1 4.186.964z"/>
					</svg>
					</button>
				</li>
			</ul>
			<div class="hamburger">
				<span class="bar"></span>
				<span class="bar"></span>
				<span class="bar"></span>
			</div>
		</nav>
	</header>
	<main class="main-theme">
		<div class="hero-slider" id="search" >
			<div class="container">
				<div class="row py-8 px-3" >
					<div class="text-center text-lg-start pb-4">
						<h1 class="display-3 fw-bold white text-start">Find your city</h1>
					</div>
					<form autocomplete="off" method="GET" onsubmit="search_city()" id="search-form">
					<div class="input-group mb-3 me-5">
							<input type="text" class="form-control" placeholder="City" aria-label="City names" onkeyup="loadResults(this.value)" onfocusin="showResults()" id="main-search">
							<button class="btn btn-outline-light" id="button-addon2" type="submit" >Search</button>
							
					</div>
					<div id="result" onfocusout="hideResults()"></div>
					</form>
				</div>
			</div>
		</div>

		<div class="container mt-5 catalogue">
			<h1 class="h1 mt-2 header">The cities</h1>
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
				<div class="column">
					<div class="card text-center text-white temp-col">
					  <div class="card-body center-center">
					    <h6 class="card-text card-city">Tokyo</h3>
					    <h2 class="card-title card-temperature">43°</h3>	
					    <small class="card-text">Last updated 3 mins ago</small>
					  </div>
					  <a href="w/city/tokyo">
        				<span class="link-spanner"></span>
    				  </a>
					</div>
				</div>
				<div class="column">
					<div class="card text-center text-white temp-col">
					  <div class="card-body center-center">
					    <h6 class="card-text card-city">New York</h3>
					    <h2 class="card-title card-temperature">43°</h3>
					    <small class="card-text">Last updated 3 mins ago</small>
					  </div>
					  <a href="w/city/new_york">
        				<span class="link-spanner"></span>
    				  </a>
					</div>
				</div>
				<div class="column">
					<div class="card text-center text-white temp-col">
					  <div class="card-body center-center">
					    <h6 class="card-text card-city">Zurigo</h3>
					    <h2 class="card-title card-temperature">43°</h3>
					    <small class="card-text">Last updated 3 mins ago</small>
					  </div>
					  <a href="w/city/zurigo">
        				<span class="link-spanner"></span>
    				  </a>
					  </div>
				</div>
			</div>
			<div class="d-flex justify-content-center mt-4">
				<button type="button" class="btn button-theme" onclick="location.href='/w/cities'">See more</button>					
			</div>
		</div>

		<div class="city-request mt-5 b-blue">
			<div class="container py-6 " id="city-request" >
				<div class="row row-cols-1 row-cols-sm-2 justify-content-center align-items-lg-center">
					<div class="column" id="request-city-title">
						<h2 class="card-title white">Haven't found your city?</h2>
						<h5 class=" card-text white">Tell us</h5>
					</div>
					<div class="column ">
						<div class="card">
						  <div class="card-body">
						    <form action="/suggest" method="POST" id="new_city_form">
							  <div class="mb-3">
							    <label for="city-input-form" class="form-label">City name</label>
							    <input type="text" class="form-control" id="city-input-form" name="add_city">
							  </div>
							  <button type="submit" class="btn button-theme" id="btn-submit">Submit</button>
							</form>
						   </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer class="d-flex flex-wrap justify-content-between align-items-center px-5 py-5 footer-theme">
	    	<p class="col-md-4 mb-0 text-muted">Weather&copy; 2022 Company, Inc</p>
	    	<ul class="nav col-md-4 justify-content-end">
		      <li class="nav-item"><a href="/w" class="nav-link px-2 text-muted">Home</a></li>
		      <li class="nav-item"><a href="/w/login" class="nav-link px-2 text-muted">Login</a></li>
		      <li class="nav-item"><a href="/w/register" class="nav-link px-2 text-muted">Sign up</a></li>
	    	</ul>
  	</footer>
  	<script async src="../../js/bootstrap.bundle.min.js"></script>
	<script src="../../js/js/functions.js"></script>
	<script src="../../js/js/utils.js"></script>
	<script type="text/javascript" src="../../js/js/weather.js"></script>
</body>
</html>